* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.body{
    position: relative;
}


.board{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
	height: 500px;
	margin: -250px 0 0 -250px;
    background-color: #34495e;
    color: #fff;
    border: 3px solid #2c3e50;
	display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    transition:0.3s;
}

.board:hover {
    box-shadow: 11px 11px 20px #34495e;
}

.cell{
  border: 2px solid #2c3e50;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}