.cell{
    outline: 1px solid #000;
    display: inline-block;
    padding: 0;
}
#container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:960px;
	width:960px;
	padding: 0;
	border: none;
}
.newGrid{
    margin: 0 auto;
    display: inline-block;
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    transition: all 0.4s ease 0s;
}

.newGrid:hover {
    color: #ffffff !important;
    background: #4c5856;
    border-color: #191306 !important;
    transition: all 0.4s ease 0s;
}

