.cell{
    outline: 1px solid #000;
    display: inline-block;
    padding: 0;
}
#container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:960px;
	width:960px;
	padding: 0;
	border: none;
}

